.link-top {
    color: black;
    font-size: small;
}
.sign-up {
    color: white;
    background-color: #6b7ee6;
    font-size: small;
}
.searchbar {

}
.photo {
    margin-left: auto;
    margin-right: auto;
}