.link-top {
    color: rgb(22, 22, 22);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.link-top:hover {
    text-decoration: underline;
    color: rgb(29, 29, 29);
}
.sign-up {
    color: white;
    background-color: #7a8eff;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 575;
    padding: 6px 10px 6px 10px;
    width: 60px;
    display: inline-block;
    text-align: center;
}
.button-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(230, 230, 230);
    text-align: center;
}
.button-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(230, 230, 230);
    text-align: center;
}
.searchbar {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-left: 30px;
    width: 550px;
    height: 45px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.75%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}   
.searchbar:hover {
    box-shadow:1px 1px 2px 2px rgba(236, 234, 234, .5), -1px -1px 2px 2px rgba(236,234,234,.02);
    transform: scale(1.01);
}
.photo {
    border: lightgray;
    margin-left: 1fr;
    margin-right: 1fr;
    margin-top: 8%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.main {
    width: 100%;
}
.header {
    background-color: yellow;
    margin-top: 1%;
}
.top-div {
    float: right;
    margin-right: 1%;
}
.middle {
    grid-template-columns: 30% 1fr 1fr 30%;
    grid-template-rows: max-content max-content max-content;
    grid-gap: 3px;
}